.nav{
  background: #000;
  padding: 25px 40px;
  color: aliceblue;
  margin-bottom: 30px;
}
.watches{
  display: flex;
  border: 5px solid blue;
  gap: 30px;
  justify-content: center;
}
.watch{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  width: 220px;
  /* height: 270px; */
}
.watch-price{
  padding: 2px 5px;
  border: 1px solid #000;
  
}
.watch-title{
  padding: 2px 5px;
}
.total-price-quanity{
  padding: 2px 5px;
}
.quantity-details{
  margin-bottom: 0;
}
.cart-img{
  width: 220px;
}


